<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jyl.mall.mapper.ItemMapper">
	<resultMap id="BaseResultMap" type="org.jyl.mall.entity.Item">
		<result column="title" jdbcType="VARCHAR" property="title" />
		<result column="sell_point" jdbcType="VARCHAR" property="sellPoint" />
		<result column="price" jdbcType="INTEGER" property="price" />
		<result column="num" jdbcType="INTEGER" property="num" />
		<result column="image" jdbcType="VARCHAR" property="image" />
		<result column="cid" jdbcType="INTEGER" property="cid" />
		<result column="is_online" jdbcType="BIT" property="isOnline" />
		<result column="is_del" jdbcType="BIT" property="isDel" />
		<result column="created" jdbcType="TIMESTAMP" property="created" />
		<result column="updated" jdbcType="TIMESTAMP" property="updated" />
	</resultMap>
	<sql id="Base_Column_List">
		id, title, sell_point, price, num, image, cid, is_online, is_del, created, updated
	</sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from t_item
		where id = #{id,jdbcType=INTEGER}
	</select>
	<select id="selectAll" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from t_item
		where is_del = 0
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from t_item
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="org.jyl.mall.entity.Item">
		insert into t_item (id, title, sell_point,
		price, num, image,
		cid, is_online, is_del, created,
		updated)
		values (#{id,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{sellPoint,jdbcType=VARCHAR},
		#{price,jdbcType=INTEGER}, #{num,jdbcType=INTEGER}, #{image,jdbcType=VARCHAR},
		#{cid,jdbcType=INTEGER}, #{isOnline,jdbcType=BIT}, #{isDel,jdbcType=BIT}, #{created,jdbcType=TIMESTAMP},
		#{updated,jdbcType=TIMESTAMP})
	</insert>
	<insert id="insertSelective" parameterType="org.jyl.mall.entity.Item">
		insert into t_item
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="title != null">
				title,
			</if>
			<if test="sellPoint != null">
				sell_point,
			</if>
			<if test="price != null">
				price,
			</if>
			<if test="num != null">
				num,
			</if>
			<if test="image != null">
				image,
			</if>
			<if test="cid != null">
				cid,
			</if>
			<if test="isOnline != null">
				is_online,
			</if>
			<if test="isDel != null">
				is_del,
			</if>
			<if test="created != null">
				created,
			</if>
			<if test="updated != null">
				updated,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="title != null">
				#{title,jdbcType=VARCHAR},
			</if>
			<if test="sellPoint != null">
				#{sellPoint,jdbcType=VARCHAR},
			</if>
			<if test="price != null">
				#{price,jdbcType=INTEGER},
			</if>
			<if test="num != null">
				#{num,jdbcType=INTEGER},
			</if>
			<if test="image != null">
				#{image,jdbcType=VARCHAR},
			</if>
			<if test="cid != null">
				#{cid,jdbcType=INTEGER},
			</if>
			<if test="isOnline != null">
				#{isOnline,jdbcType=BIT},
			</if>
			<if test="isDel != null">
				#{isDel,jdbcType=BIT},
			</if>
			<if test="created != null">
				#{created,jdbcType=TIMESTAMP},
			</if>
			<if test="updated != null">
				#{updated,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="org.jyl.mall.entity.Item">
		update t_item
		<set>
			<if test="title != null">
				title = #{title,jdbcType=VARCHAR},
			</if>
			<if test="sellPoint != null">
				sell_point = #{sellPoint,jdbcType=VARCHAR},
			</if>
			<if test="price != null">
				price = #{price,jdbcType=INTEGER},
			</if>
			<if test="num != null">
				num = #{num,jdbcType=INTEGER},
			</if>
			<if test="image != null">
				image = #{image,jdbcType=VARCHAR},
			</if>
			<if test="cid != null">
				cid = #{cid,jdbcType=INTEGER},
			</if>
			<if test="isOnline != null">
				is_online = #{isOnline,jdbcType=BIT},
			</if>
			<if test="isDel != null">
				is_del = #{isDel,jdbcType=BIT},
			</if>
			<if test="created != null">
				created = #{created,jdbcType=TIMESTAMP},
			</if>
			<if test="updated != null">
				updated = #{updated,jdbcType=TIMESTAMP},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="org.jyl.mall.entity.Item">
		update t_item
		set title = #{title,jdbcType=VARCHAR},
		sell_point = #{sellPoint,jdbcType=VARCHAR},
		price = #{price,jdbcType=INTEGER},
		num = #{num,jdbcType=INTEGER},
		image = #{image,jdbcType=VARCHAR},
		cid = #{cid,jdbcType=INTEGER},
		is_online = #{isOnline,jdbcType=BIT},
		is_del = #{isDel,jdbcType=BIT},
		created = #{created,jdbcType=TIMESTAMP},
		updated = #{updated,jdbcType=TIMESTAMP}
		where id = #{id,jdbcType=INTEGER}
	</update>
</mapper>